@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=League+Gothic&display=swap");

:root {
   --royal-blue: #4a88fc;
   --white: #f6f2e6;
   --light-gray: #bebcb3;
   --gray: #4c4c4c;
   --black: #111111;
   --nav-bg: #191919;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   width: 100vw;
   font-family: "Host Grotesk", sans-serif;
   overflow-x: hidden;
   overflow-y: auto;
   scroll-behavior: smooth;
   background-color: var(--black);
   margin: 0;
   padding: 0;
}

.navbar {
    position: fixed;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 900;
    padding: 5% 8% 0 8%;
 }
 
 .logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--nav-bg);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    position: relative;
    cursor: pointer;
 }
 
 .logo span {
    font-size: 18px;
 }
 
 .logo .copyright {
    position: absolute;
    top: 5px;
    right: 7px;
    font-size: 10px;
    color: var(--white);
 }
 
 .nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 20px;
    height: 50px;
    border-radius: 20px;
    background-color: var(--nav-bg);
 }
 
 .nav-links a {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
    padding-left: 25px;
 }
 
 .nav-links a:last-child {
    padding-right: 25px;
 }
 
 .nav-links a:hover {
    color: var(--light-gray);
 }
 
 .nav-links a.active::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--royal-blue);
 }

 .blue-letter {
    color: var(--royal-blue);
 }

 .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black); 
    transform: translateX(-100%);
    transition: transform 1.5s ease;
    z-index: 999; 
}
.overlay.active {
    transform: translateX(0);
}